.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 90vh;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 5opx;
  }

  .message {
    color: #555;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 24.5rem;
  }