.container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg{
    font-size: 30px;
    font-weight: 900;
    color: #0fa38d;
    text-align: center;

}