.cartContainer {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px; 
    height:80vh;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .itemList {
    list-style: none;
    padding: 0;
  }
  
  .item {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .checkoutButton {
    background-color: #680fb6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 140px;
  }
  
  .checkoutButton:hover {
    background-color: #7825dd;
  }
  