.formContainer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formHeader {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formInput,
  .formTextarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333030;
    border-radius: 5px;
  }
  
  .formTextarea {
    resize: vertical;
  }
  
  .formButton {
    background-color: #960bf4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .formButton:hover {
    background-color: #0056b3;
  }
  